services:
  next-app:
    container_name: blog
    build:
      context: ../
      dockerfile: infra/Dockerfile.dev
    command: ["pnpm", "dev"]
    volumes:
      - ../front:/app
      - /app/node_modules
    restart: unless-stopped
    ports:
      - 3000:3000
    networks:
      - my_network

networks:
  my_network:
    driver: bridge
